@media only screen and (max-width: 700px) {
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 10px 10px 10px 30px ;
    margin: 10px 10px 10px 30px;
    outline: black 5px;
    border-radius: 10px;
  }
  
  .container:hover {
    background-color: whitesmoke;
  }

  a:link {
    color: green;
  }

  a:visited {
    color: rgb(11, 71, 11);
  }

  a:hover {
    color: black;
  }

  a:active{
    color:blue;
  }

}

@media only screen and (min-width: 700px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 10px 10px 10px 30px ;
    margin: 10px 10px 10px 30px;
    outline: black 5px;
    border-radius: 10px;
  }

  .container:hover {
    background-color: whitesmoke;
  } 

  a:link {
    color: green;
  }

  a:visited {
    color: rgb(11, 71, 11);
  }

  a:hover {
    color: black;
  }

  a:active{
    color:blue;
  }

}